<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>classNames</key>
	<dict>
		<key>VImageBufferTests</key>
		<dict>
			<key>testEdgeDetectionWithImage01</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0043143</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:07:56 PM</string>
				</dict>
			</dict>
			<key>testEdgeDetectionWithImage02</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0028411</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:07:56 PM</string>
				</dict>
			</dict>
			<key>testEdgeDetectionWithImage03</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0034855</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:07:56 PM</string>
				</dict>
			</dict>
			<key>testEdgeDetectionWithImage04</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0022802</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:07:56 PM</string>
				</dict>
			</dict>
			<key>testEdgeDetectionWithImage05</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0040404</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:07:56 PM</string>
				</dict>
			</dict>
			<key>testFindMaximaWithImage01</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.042286</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:08:01 PM</string>
				</dict>
			</dict>
			<key>testFindMaximaWithImage02</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.03934</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:08:01 PM</string>
				</dict>
			</dict>
			<key>testFindMaximaWithImage03</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.02822</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:08:01 PM</string>
				</dict>
			</dict>
			<key>testFindMaximaWithImage04</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.022654</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:08:01 PM</string>
				</dict>
			</dict>
			<key>testFindMaximaWithImage05</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.027273</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:08:01 PM</string>
				</dict>
			</dict>
			<key>testFindPolylinesWithImage01</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0018438</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 4, 2017, 10:07:51 PM</string>
				</dict>
			</dict>
			<key>testFindPolylinesWithImage02</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0035904</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 4, 2017, 10:07:51 PM</string>
				</dict>
			</dict>
			<key>testFindPolylinesWithImage03</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00082485</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 4, 2017, 10:07:51 PM</string>
				</dict>
			</dict>
			<key>testFindPolylinesWithImage04</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.00068377</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 4, 2017, 10:07:51 PM</string>
				</dict>
			</dict>
			<key>testFindPolylinesWithImage05</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0012548</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 4, 2017, 10:07:51 PM</string>
				</dict>
			</dict>
			<key>testFindRegionsWithImage01</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>4.3378e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 4, 2017, 10:07:51 PM</string>
				</dict>
			</dict>
			<key>testFindRegionsWithImage02</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>5.3187e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 4, 2017, 10:07:51 PM</string>
				</dict>
			</dict>
			<key>testFindRegionsWithImage03</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>3.026e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 4, 2017, 10:07:51 PM</string>
				</dict>
			</dict>
			<key>testFindRegionsWithImage04</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>1.5265e-05</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 4, 2017, 10:07:51 PM</string>
				</dict>
			</dict>
			<key>testFindSegmentsWithImage01</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0032369</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:08:01 PM</string>
				</dict>
			</dict>
			<key>testFindSegmentsWithImage02</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0090141</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:08:01 PM</string>
				</dict>
			</dict>
			<key>testFindSegmentsWithImage03</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0016479</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:08:01 PM</string>
				</dict>
			</dict>
			<key>testFindSegmentsWithImage04</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0014151</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:08:01 PM</string>
				</dict>
			</dict>
			<key>testFindSegmentsWithImage05</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.0019539</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:08:01 PM</string>
				</dict>
			</dict>
			<key>testHoughWithImage01</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.25928</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:17:49 PM</string>
				</dict>
			</dict>
			<key>testHoughWithImage02</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.28522</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:07:56 PM</string>
				</dict>
			</dict>
			<key>testHoughWithImage03</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.16604</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:07:56 PM</string>
				</dict>
			</dict>
			<key>testHoughWithImage04</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.1013</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:07:56 PM</string>
				</dict>
			</dict>
			<key>testHoughWithImage05</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.10949</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 3, 2017, 9:07:56 PM</string>
				</dict>
			</dict>
			<key>testfindLinesWithImage01</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.045296</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 4, 2017, 10:07:51 PM</string>
				</dict>
			</dict>
			<key>testfindLinesWithImage02</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.04581</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 4, 2017, 10:07:51 PM</string>
				</dict>
			</dict>
			<key>testfindLinesWithImage03</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.03111</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 4, 2017, 10:07:51 PM</string>
				</dict>
			</dict>
			<key>testfindLinesWithImage04</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.024656</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 4, 2017, 10:07:51 PM</string>
				</dict>
			</dict>
			<key>testfindLinesWithImage05</key>
			<dict>
				<key>com.apple.XCTPerformanceMetric_WallClockTime</key>
				<dict>
					<key>baselineAverage</key>
					<real>0.036766</real>
					<key>baselineIntegrationDisplayName</key>
					<string>Mar 4, 2017, 10:07:51 PM</string>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
