<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<true/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>iBooks</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<true/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryUtilities</string>
	<key>AMDefaultParameters</key>
	<dict/>
	<key>AMDescription</key>
	<dict>
		<key>AMDInput</key>
		<string>EPUB Documents</string>
		<key>AMDNote</key>
		<string>This action ignores compressed EPUB documents.</string>
		<key>AMDRelatedActions</key>
		<string>com.the-wabe.ImagesToEPUBAction</string>
		<key>AMDResult</key>
		<string>EPUB Documents</string>
		<key>AMDSummary</key>
		<string>Searches the HTML inside EPUB containers for annotations indicating where navigational regions should be placed.</string>
		<key>AMDWebsite</key>
		<string>http://www.the-wabe.com/epub-automator/</string>
	</dict>
	<key>AMKeywords</key>
	<array>
		<string>File</string>
		<string>Create</string>
		<string>Make</string>
		<string>iBooks</string>
		<string>EPUB</string>
		<string>Comic</string>
		<string>Book</string>
		<string>Images</string>
		<string>JPEG</string>
		<string>PNG</string>
		<string>GIF</string>
		<string>TIFF</string>
	</array>
	<key>AMName</key>
	<string>Convert Markup to EPUB Navigation</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string>com.apple.Automator.CopyFiles</string>
		<key>ApplyButton</key>
		<string>Add</string>
		<key>IgnoreButton</key>
		<string>Don’t Add</string>
		<key>Level</key>
		<integer>2</integer>
		<key>Message</key>
		<string>This action will alter the resources contained in the EPUB document. Would you like to add a Copy Finder Items action so that the copies are changed and your originals are preserved?</string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2017 Rob Menke. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>ConvertMarkupToEPUBNavigationAction</string>
</dict>
</plist>
