<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<false/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>iBooks</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryUtilities</string>
	<key>AMDefaultParameters</key>
	<dict>
		<key>creators</key>
		<array/>
		<key>outputFolder</key>
		<string>~/Desktop</string>
	</dict>
	<key>AMDescription</key>
	<dict>
		<key>AMDRelatedActions</key>
		<string>com.the-wabe.ConvertEPUBFolderToEPUBContainerAction</string>
		<key>AMDSummary</key>
		<string>Bundle a set of XHTML and associated files into an EPUB document.</string>
		<key>AMDWebsite</key>
		<string>http://www.the-wabe.com/epub-automator/</string>
	</dict>
	<key>AMKeywords</key>
	<array/>
	<key>AMName</key>
	<string>Bundle XHTML as EPUB</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Level</key>
		<integer>0</integer>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.4.8</string>
	<key>CFBundleVersion</key>
	<string>87</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2019 Rob Menke. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>CreateEPUBAction</string>
</dict>
</plist>
