<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<false/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>iBooks</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryUtilities</string>
	<key>AMDefaultParameters</key>
	<dict>
		<key>backgroundColor</key>
		<data>
		BAtzdHJlYW10eXBlZIHoA4QBQISEhAdOU0NvbG9yAISECE5TT2JqZWN0AIWE
		AWMBhARmZmZmAQEBAYY=
		</data>
		<key>channelWidth</key>
		<integer>3</integer>
		<key>closeGap</key>
		<integer>5</integer>
		<key>cropBottom</key>
		<integer>0</integer>
		<key>cropLeft</key>
		<integer>0</integer>
		<key>cropRight</key>
		<integer>0</integer>
		<key>cropTop</key>
		<integer>0</integer>
		<key>ignoreAlpha</key>
		<false/>
		<key>maxGap</key>
		<integer>3</integer>
		<key>minRegionSize</key>
		<integer>50</integer>
		<key>minSegmentLength</key>
		<integer>15</integer>
		<key>openKernel</key>
		<integer>1</integer>
		<key>sensitivity</key>
		<integer>12</integer>
	</dict>
	<key>AMDescription</key>
	<dict>
		<key>AMDInput</key>
		<string>Image Files</string>
		<key>AMDNote</key>
		<string>This action adds extended attributes to the files, which does not change their content.</string>
		<key>AMDRelatedActions</key>
		<string>com.the-wabe.ImagesToEPUBAction</string>
		<key>AMDResult</key>
		<string>Image Files</string>
		<key>AMDSummary</key>
		<string>Automatically add metadata to files to aid in laying out EPUBs.</string>
		<key>AMDWebsite</key>
		<string>http://www.the-wabe.com/epub-automator/</string>
	</dict>
	<key>AMKeywords</key>
	<array>
		<string>File</string>
		<string>Create</string>
		<string>Make</string>
		<string>iBooks</string>
		<string>EPUB</string>
		<string>Comic</string>
		<string>Book</string>
		<string>Images</string>
		<string>JPEG</string>
		<string>PNG</string>
		<string>GIF</string>
		<string>TIFF</string>
	</array>
	<key>AMName</key>
	<string>Prepare Images for EPUB</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Level</key>
		<integer>0</integer>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.4.5</string>
	<key>CFBundleVersion</key>
	<string>38</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2018 Rob Menke. All rights reserved.</string>
	<key>NSPrincipalClass</key>
	<string>PrepareImagesForEPUBAction</string>
</dict>
</plist>
